.max-min-sloth {
  
  width: 18vw;
    height: 90%;
    margin-left: -5vw;
    margin-top: 3vw;
}

.max-min-temperatures {
  display: block;
}
#max-min-inner-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 5%;
}
.max-min-temp-degrees {
  font-size: 1.4vw;
  margin: auto;

}
.max-min-temp-headers {
  font-size: 1.4vw;
  
}
#header-and-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1vw;
}
#tooltip-icon {
cursor: pointer;
font-size: 2vw;
margin-left: 0.4vw;}
#tooltip {
  margin-left: -15%;
}
#tooltip-text {
  font-size: 1.4vw; max-width: 25vw; line-height: 1.4vw
}
@media screen and (max-width: 1400px) and  (min-height: 700px)  {
  .max-min-sloth {
    width: 20vw;
    margin-left: -70%;
  }
  
  
  
  .max-min-temp-degrees {
    font-size: 1.6vw;
    margin: auto;
  }
  .max-min-temp-headers {
    font-size: 1.8vw;

  }
  
  #tooltip-icon {
  cursor: pointer;
  font-size: 2vw;
  margin-left: 0.4vw;}
  
  #tooltip-text {
    font-size: 2vw;
    max-width: 25vw;
    line-height: 2vw;
  }
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  .max-min-sloth {
    width: 27vw;
    height: 90%;
    margin-left: -7vw;
    margin-top: 3vw;

  }
  #max-min-inner-wrapper > div{
    display: flex;
    height: 100%;
  }
  .max-min-temperatures {
    width: 100%;
    align-self: center;
  }
  
  .max-min-temp-degrees {
    font-size: 2.4vw;
    margin: 1%;
  }
  .max-min-temp-headers {
    font-size: 3vw;
    margin: 1%;
  }
  #header-and-tooltip {
    margin-top: 5%;

    margin-bottom: 0vw;
  }
  #tooltip-icon {
 
  font-size: 2.4vw;
  margin-left: 0.4vw;
}
#tooltip {
  margin-left: -27%;
}

  #tooltip-text {
    font-size: 3vw; max-width: 27vw; line-height: 3vw
  }
}
