.clothes-image {
  
  width: 18vw;
    height: 90%;
    margin-left: -5vw;
    margin-top: 3vw;
}

.temperatures {
  display: block;
}
#clothes-max-min {
  display: flex;
  align-items: center;
  height: 100%;
}
.temp-degrees {
  font-size: 1.4vw;
  margin: auto;

}
.temp-headers {
  font-size: 1.8vw;
  
}
#header-and-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1vw;
}
#tooltip-icon {
cursor: pointer;
font-size: 2vw;
margin-left: 0.4vw;}
#tooltip {
  margin-left: -25%;
}
#tooltip-text {
  font-size: 1.8vw; max-width: 25vw; line-height: 1.8vw
}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
  .clothes-image {
    width: 20vw;
    margin-left: -70%;
  }
  
  
  
  .temp-degrees {
    font-size: 1.6vw;
    margin: auto;
  }
  .temp-headers {
    font-size: 1.8vw;

  }
  
  #tooltip-icon {
  cursor: pointer;
  font-size: 2vw;
  margin-left: 0.4vw;}
  
  #tooltip-text {
    font-size: 2vw;
    max-width: 25vw;
    line-height: 2vw;
  }
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  .clothes-image {
    width: 27vw;
    height: 90%;
    margin-left: -7vw;
    margin-top: 3vw;

  }
  #clothes-max-min > div{
    display: flex;
    height: 100%;
  }
  .temperatures {
    width: 100%;
    align-self: center;
  }
  
  .temp-degrees {
    font-size: 2.4vw;
    margin: 1%;
  }
  .temp-headers {
    font-size: 3vw;
    margin: 1%;
  }
  #header-and-tooltip {
    margin-top: 5%;

    margin-bottom: 0vw;
  }
  #tooltip-icon {
 
  font-size: 2.4vw;
  margin-left: 0.4vw;
}
  
  #tooltip-text {
    font-size: 1vw; max-width: 14vw; line-height: 1vw
  }
}
