.clothes-image {
  width: 8vw;
}

.temperatures {
  display: block;
}
#clothes-max-min {
  display: flex;
  align-items: center;
}
.temp-degrees {
  font-size: 1vw;
}
.temp-headers {
  font-size: 1.3vw;
}
