.current-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}
.current-image-and-details {
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: center;
}
.current-weather-icon {
  width: 11vw;
}
.current-temp {
  font-size: 3vw;
  margin: 0;
}
#current-wind {
  font-size: 1.8vw;
}
.current-header {
  font-size: 2.4vw;
}
.weather-description {
  font-size: 3vw;
  margin: 0;
}
.current-temp-wind {
  align-self: center;
}
@media screen and (max-width: 1400px) and (min-height: 700px) {
  .current-weather-icon {
    width: 12vw;
  }
  .current-temp {
    font-size: 4vw;
  }
  .current-header {
    font-size: 2.6vw;
  }
  .weather-description {
    font-size: 3.4vw;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1024px) {
  .current-image-and-details {
    display: flex;
    justify-content: center;
    height: 70%;
  }
  .current-wrapper {
    height: 100%;

    padding: 10%;
  }
  .current-weather-icon {
    width: 25vw;
  }
  .current-temp {
    font-size: 6vw;
    margin: 0;
  }
  .current-header {
    font-size: 4vw;
    margin: 0;
    height: 20%;
  }
  .weather-description {
    font-size: 2.5vw;
    margin: 0;
    height: 10%;
  }
  #current-wind {
    font-size: 2.6vw;
  }
}

@media screen and (max-width: 512px) {
  .current-image-and-details {
    display: flex;
    justify-content: center;
    height: 70%;
  }
  .current-wrapper {
    height: 100%;
  }

  .current-weather-icon {
    width: 50vw;
  }
  .current-temp {
    font-size: 14vw;
    margin: 0;
  }
  .current-header {
    font-size: 7vw;
    margin: 0;
    height: 20%;
  }
  .weather-description {
    font-size: 5.5vw;
    margin: 0;
    height: 10%;
  }
  #current-wind {
    font-size: 5vw;
  }
}
