.current-wrapper {
  height: 100%;
}
.current-image-and-details {
  display: flex;
  justify-content: center;
  height: 70%;
}
.weather-icon {
  width: 14vw;
}
.temp {
  font-size: 3vw;
  margin: 0;
}
#current-header {
  font-size: 2.4vw;
}
#weather-description {
  font-size: 3vw;
  margin: 0;
}
.temp-wind {
  align-self: center;
  font-size: 1.8vw;

}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
  
  .weather-icon {
    width: 20vw;
  }
  .temp {
    font-size: 4vw;
  }
  #current-header {
    font-size: 2.6vw;
  }
  #weather-description {
    font-size: 3.4vw;
  }
  
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  .current-image-and-details {
    display: flex;
    justify-content: center;
    height: 70%;
  }
  .current-wrapper {
    height: 100%;
  }
  .weather-icon {
    width: 25vw;
  }
  .temp {
    font-size: 6vw;
    margin: 0;
  }
  #current-header {
    font-size: 4vw;
    margin: 0;
    height: 20%;
  }
  #weather-description {
    font-size: 2.5vw;
    margin: 0;
    height: 10%;

  }
  
}

@media screen and (max-width: 512px) {
  .current-image-and-details {
    display: flex;
    justify-content: center;
    height: 70%;
  }
  .current-wrapper {
    height: 100%;
  }
  
  .weather-icon {
    width: 50vw;
  }
  .temp {
    font-size: 14vw;
    margin: 0;

  }
  #current-header {
    font-size: 7vw;
    margin: 0;
    height: 20%;
  }
  #weather-description {
    font-size: 5.5vw;
    margin: 0;
    height: 10%;

  }
  .current-wind {
    font-size: 5vw;
}
}