.navbar-img {
    width: 7vw;
    border-radius: 100%;
    grid-column: 1/4;
}
.username {
    align-self: center;
    display: flex;
    grid-column: 6/8;
}
.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.profile-subBar {
    display: flex;
    grid-column: 1/8;
    justify-content: space-around
}
