.menu-wrapper {
  height: 100%;
  display: flex;
}
.menu-container {
  height: 100%;
  justify-content: flex-end;
  display: flex;
}
.menu-image {
  width: 4vw;
  border-radius: 100%;
}
.menu-firstname {
  align-self: center;
  margin-right: 8%;
  font-size: 1.4vw;
  margin-left: auto;
  color:black;


}


.menu-name-photo {
  display: flex;
  width: 100%;
  align-items: center;
}
.menu-links-wrapper  {
  width: 100%;
  margin-left: auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  place-content: flex-end;
}
.menu-links-wrapper-not-logged-in {
  width: 25%;
  margin-left: auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  place-content: space-evenly;
}
#menu-tooltip {
font-size: 1vw;
}
.menu-link {
  align-self: center;
  display: flex;
  text-decoration: none;
  margin: 2%;
}
#logged-in-icon {
  font-size: 3vw;
  margin-left: 2%;
  color: black;
  align-self: center;
}
#not-logged-in-icon {
  font-size: 3vw;
  margin-left: 6%;
  color: black;
}
#menu-symbol-icon {
  display: none;
}
@media screen and (max-width: 1400px) and (min-height: 700px) {
  .menu-image {
    width: 5vw;
  }
  .menu-firstname {
    font-size: 3vw;
  }
  .menu-profile {
    width: 70%;
  }
  
  
  .menu-links-wrapper-not-logged-in {
    width: 40%;
  
  }
  #logged-in-icon {
    font-size: 4vw;
  }
  #not-logged-in-icon {
    font-size: 4vw;
    margin-left: 6%;
    color: black;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1024px) {
  .menu-image {
    width: 8vw;
  }
  .menu-firstname {
    font-size: 2.5vw;
  }
  .menu-symbol-icon-wrapper {
    height: 100%;
    width: 28%;
    margin-left: auto;
  }
  .menu-links-wrapper, .menu-links-wrapper-not-logged-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
    position: absolute;
    top: 8%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .menu-links-wrapper.active, .menu-links-wrapper-not-logged-in.active {
    background: #1c2237;
    left: 0;
    z-index: 1;
    place-content: center;
  }
  .not-logged-in-menu {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: inherit;

    margin-right: 0%;
  }
  .menu {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: inherit;
    display: block;
    margin-right: 0%;
  }
  .menu-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 6vw;
  }

  .menu-link:hover {
    color: grey;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  #menu-symbol-icon {
    display: block;

    font-size: 7vw;
    cursor: pointer;
    height: 100%;

    margin-left: auto;
    margin-right: 5%;
  }
}

@media screen and (max-width: 512px) {
  .menu-image {
    width: 12vw;
  }
  .menu-firstname {
    font-size: 3.5vw;
  }

  .menu-links-wrapper, .menu-links-wrapper-not-logged-in {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .menu-links-wrapper.active , .menu-links-wrapper-not-logged-in.active {
    background: #1c2237;
    left: 0;
    z-index: 1;
    height: 171vh;
    margin-top: 16vw;
    place-content: start;

  }
  .not-logged-in-menu {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: inherit;

    margin-right: 0%;
  }
  .menu {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: inherit;
    display: block;
    margin-right: 0%;
  }
  .menu-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 9vw;
  }
  .menu-link:hover {
    color: grey;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
  #menu-symbol-icon {
    display: block;

    font-size: 10vw;
    cursor: pointer;
    height: 100%;

    margin-left: auto;
    margin-right: 5%;
  }
  .menu-symbol-icon-wrapper {
    height: 100%;
    width: 28%;
    margin-left: auto;
    margin-right: 1%;
  }
}
