#main-grid {
  width: 50%;
  margin: auto;
  height: 50%;

  padding-top: 10%;
}

.profile-form {
  width: 100%;
  background-color: rgb(143, 138, 138);
  margin-top: 3%;
  padding: 3%;
  border-radius: 2%;

}
#passwords,
#mail-old,
#name-city {
  display: flex;
}
#profile-image-cointainer,
#profile-button {
  text-align: center;
  margin-top: 4%;
}
#profile-button > button  {
  
  color: black;
  border: 1px solid black;
  background-color: rgb(143, 138, 138);
}
#profile-button > button:hover  {
  
  background-color: gainsboro;
}
#delete-icon {
  float: left;

  color: rgb(143, 138, 138);

}

.profile-image {
  width: 26%;
  border-radius: 100%;
  margin-left: 37%;
  display: flex;
}
#profile-first-label, #profile-city-label,#profile-email-label,#profile-old-label,#profile-pass-label,#profile-confirm-label {
  font-size: 1.4vw;
}
#profile-first, #profile-city,#profile-email,#profile-old,#profile-pass,#profile-confirm {
  font-size: 1.4vw;
}
.align-right {
  text-align: right;
}
@media screen and (max-width: 1024px) {
  #main-grid {
    width: 60%;
    margin: auto;
    height: 100%;

    padding-top: 10%;
  }

  #profile-image-cointainer {
    height: 25%;
  }

  .profile-image {
    width: 44%;
    margin-left: 28%;
  }
  .profile-form {
    height: 100%;
  }
  #passwords, #mail-old,#name-city {
    display: block;
  }
   
  #passwords > div, #mail-old > div, #name-city > div {
    max-width: 100%;
    margin: 3% auto;
  }
  #profile-first-label, #profile-city-label,#profile-email-label,#profile-old-label,#profile-pass-label,#profile-confirm-label {
    font-size: 3vw;
  }
  #profile-first, #profile-city,#profile-email,#profile-old,#profile-pass,#profile-confirm {
    font-size: 4vw;
  }
 #profile-button > button {
  width: 22vw;
  font-size: 2vw;
}
 }
 @media screen and (max-width: 512px) {
  #main-grid {
    width: 100%;
    margin: auto;
    height: 100%;

    padding-top: 0%;
  }
  #delete-icon {
    font-size: 8vw;
  }
  #profile-image-cointainer {
    height: 17%;
  }

  .profile-image {
    width: 28%;
    margin-left: 36%;
  }
  
  .profile-form {
    height: 79%;
  }
  #passwords > div, #mail-old > div, #name-city > div {
    max-width: 90%;
    margin: 1% auto;
  }
  #profile-first-label, #profile-city-label,#profile-email-label,#profile-old-label,#profile-pass-label,#profile-confirm-label {
    font-size: 6vw;
  }
  #profile-first, #profile-city,#profile-email,#profile-old,#profile-pass,#profile-confirm {
    font-size: 6vw;
  }
 #profile-button > button {
  width: 42vw;
  font-size: 3vw;
}

 }


