.reset-wrapper {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    padding: 3%;
  }
  .reset-header {
    font-size: 2vw;
    color: black;
    margin: 2%;
  }
  .reset-error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .reset-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  /* #reset-email-label {
    font-size: 1.4vw;
  }
  #forgot-email {
    height: 2vw;
    font-size: 1.6vw;
    margin: 2%;
  } */
  
  .reset-error-message {
    color: red;
    font-size: 1vw;
  }
  #reset-forgot-button, #reset-home-button, #reset-update-button, #reset-signin-button {
    color: black;
    border: 1px solid black;
    background-color: rgb(143, 138, 138);
    margin: auto;
    margin-top: 2%;
  }
  #reset-forgot-button:hover, #reset-home-button:hover,  #reset-update-button:hover, #reset-signin-button:hover {
    background-color: gainsboro;
  }
  .reset-success-wrapper {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 55%;
      align-items: center;
  }
  .reset-buttons-wrapper {
      display: flex;
      
      margin: auto;
      width: 50%;
  }
  