#settings-header {
  font-size: 3vw;
  text-align: center;
}
#settings-wrapper {
  height: 20vw;
  width: 25vw;
  margin: auto;
  padding-top: 10%;
}

#settings-field {
  font-size: 1.5vw;
  margin: 0;
  height: 2vw;
}
#switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2vw;
}
#switch p {
  font-size: 1vw;
}
#switch > span > :last-child  {
  background-color:grey
}
#switch > span > span > span {
  color:white;
}
.update-not-success {
  color: red;
}
.update-success {
  color: green;
}
.update {
  margin: auto;
  width: 20vw;
  font-size: 1vw;
  text-align: center;
}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
  #settings-header {
    font-size: 4vw;
  }
  #settings-wrapper {
    width: 35vw;
   
  }
  #settings-field {
    font-size: 2.5vw;
  }
  #switch {
  
    height: 3vw;
  }
  #switch p {
    font-size: 2vw;
  }
  .update {
    width: 20vw;
    font-size: 2vw;
   
  }
}

@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  #settings-header {
    font-size: 8vw;
  }
  #settings-wrapper {
    height: 25vw;
    width: 55vw;
    
  }
  
  #settings-field {
    font-size: 4vw;
    height: 5vw;
  }
  #switch {
    
    height: 5vw;
  }
  #switch p {
    font-size: 3vw;
  }
  .update {
    width: 40vw;
    font-size: 4vw;
   
  }
}

@media screen and (max-width: 512px) {
  #settings-header {
    font-size: 11vw;
  }
  #settings-wrapper {
    height: 25vw;
    width: 75vw;
    display: block;
  }
  
  #settings-field {
    font-size: 5vw;
    height: 8vw;
    margin: auto;
    text-align: center;
  }
  #switch {
    margin: auto;
    text-align: center;
    height: 7vw;
    justify-content: center;
  }
  #switch p {
    font-size: 4.5vw;
  }
}