#settings-header {
  font-size: 3vw;
  text-align: center;
}
#settings-box {
  height: 20vw;
  width: 25vw;
  margin: auto;
  padding-top: 10%;
}

#temp-name {
  font-size: 1.5vw;
  margin: 0;
  height: 2vw;
}
#switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2vw;
}
#switch p {
  font-size: 1vw;
}
@media screen and (max-width: 1024px) {
  #settings-header {
    font-size: 8vw;
  }
  #settings-box {
    height: 25vw;
    width: 55vw;
    
  }
  
  #temp-name {
    font-size: 4vw;
    height: 5vw;
  }
  #switch {
    
    height: 5vw;
  }
  #switch p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 512px) {
  #settings-header {
    font-size: 11vw;
  }
  #settings-box {
    height: 25vw;
    width: 75vw;
    display: block;
  }
  
  #temp-name {
    font-size: 5vw;
    height: 8vw;
    margin: auto;
    text-align: center;
  }
  #switch {
    margin: auto;
    text-align: center;
    height: 7vw;
    justify-content: center;
  }
  #switch p {
    font-size: 4.5vw;
  }
}