.details-header {font-weight: 800;}

.details-weather-icon {
    width: 4vh;
}

.weather-at-differents-time-grid {

margin: auto;
width: 75%;

}

.different-times {
    display: flex;
}

.different-times > div {
    align-self: center;
}
.sunUpAndDown {
    width: 7vw;
}
.suns-inline {
    display: flex;
}
.clothes-image {
    width: 12vh
}
.clothesAndTemp {
    display: flex;
    place-content: space-evenly;
}
.main-container {
    display: flex;
}
.temperatures {
    display: block;
}
.details-containers {
    align-self: center;
}