.links-image {
    width: 4vw;
    border-radius: 100%;
}
.username {
    align-self: center;
    margin-right: 15%;
}
.username-image {
    display: flex;
    width: 50%;
align-items: center;
}
.links-wrapper {
    display: flex;
   

}
.links-icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    cursor: pointer;
}
.links {
    align-self: center;
}
#icons {
    font-size: 2vw;
}

