.links-image {
    width: 4vw;
    border-radius: 100%;
}
.username {
    align-self: center;
    margin-right: 15%;
}
.username-image {
    display: flex;
    grid-column: 1/4;

}
.links-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.links-icons {
    display: flex;
    grid-column: 6/10;
    justify-content: space-around
}
.links {
    align-self: center;
}
#icons {
    font-size: 4vh;
}

