.footer-wrapper {
    background-color: grey;
    height: 15%;
    display: flex;
    align-items: center;
    

}
.icon-wrapper {
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    background-color: antiquewhite;    display: flex;
    align-items: center;
    justify-content: center;
}
#email-icon,#github-icon,#facebook-icon,#copyright-icon {
    color: black;
    width: 5vw;
    height: 3vw;
}
.footer-item {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
}
#footer-label-contact,#footer-label-github,#footer-label-facebook,#footer-label-copyright {
    margin-left: 2%;
    font-size: 2vw;
    text-decoration: none;
    color: black;

}
#footer-label-contact:hover,#footer-label-github:hover,#footer-label-facebook:hover {
    color: gainsboro;
    cursor: pointer;
}