.daily-weather {
  border: 1px solid black;
  border-radius: 5%;
  background-color: rgb(143, 138, 138);
  width: 14vw;
  height: 14vw;
  margin: auto;
  text-align: center;
  cursor: pointer;
  color: black;
}
.daily-weather:hover {
  background-color: gainsboro;
}
.weekday {
  font-size: 2vw;
}
#degree {
  font-size: 2vw;
  margin-bottom: -20%;
}
#daily-icon {
  width: 8vw;
}
.daily-overview-wind {
  font-size: 1vw;
}
#daily-precipitation {
  margin-top: 20%;
  font-size: 1vw;
  margin-bottom: -20%;
}
.image-and-details {
  display: flex;
  justify-content: center;
  height: 8vw;
}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
 
  .image-and-details {
    height: 78%;
  }
  .weekday {
    font-size: 3vw;
    margin: 0;
  }
  #degree {
    font-size: 2.4vw;
    margin-top: 35%
  }
  #daily-icon {
    width: 8vw;
  }
  .daily-overview-wind {
    font-size: 1.4vw;
  }
  #daily-precipitation {
    font-size: 1.6vw;
    margin-bottom: -20%;
  }
}
  @media screen and (max-width: 1024px) and  (min-height: 1024px)  {
    .daily-weather {
   
    width: 35vw;
    height: 25vw;
  
  }
  
  .weekday {
    margin: 0;
    height: 22%;
    font-size: 4vw;
  }
  .daily-overview-wind {
    font-size: 3vw;
  }
  #degree {
    font-size: 4vw;
  }
  #daily-icon {
    width:22vw;
  }
  .template4 {
    display: none;
  }
  #daily-precipitation {
    margin-top: 20%;
    font-size: 3vw;
    margin-bottom: -20%;
  }
  .image-and-details {
    height: 78%;
  }
}

@media screen and (max-width: 512px) {
  .daily-weather {
   
    width: 70vw;
    height: 55vw;
  margin-top: 5%;
  }
  
  .weekday {
    margin: 0;
    height: 22%;
    font-size: 8vw;
  }
  
  #degree {
    font-size: 11vw;
  }
  #daily-icon {
    width:44vw;
  }
  .template4 {
    display: block;
  }
  .daily-overview-wind {
    font-size: 5vw;
  }
  #daily-precipitation {
    margin-top: 20%;
    font-size: 5vw;
    margin-bottom: -20%;
  }
  .image-and-details {
    height: 78%;
  }
}
