.fore-cast-wrapper {
  display: flex;
  height: 30%;
}

#back-to-top-icon-wrapper {
  display: none;
}

@media screen and (max-width: 1024px) and (min-height: 1024px) {
  .fore-cast-wrapper {
    height: 43%;
    grid-template-columns: repeat(2, 50%);
    display: grid;
    grid-row-gap: 4%;

  }
}

@media screen and (max-width: 512px) {
  .fore-cast-wrapper {
    grid-template-columns: repeat(1, 100%);
    display: grid;
  }

  #back-to-top-icon-wrapper {
    display: flex;
    width: 9vw;
    height: 9vw;
    margin: -10vw 2vw 10vw auto;
    background-color: rgb(143, 138, 138);
    border-radius: 100%;
    min-width: 0%;
  }
  #back-to-top-icon {
    font-size: 8vw;
}
}