.fore-cast-wrapper {
  display: flex;
  height: 30%;
  background-color: black;
}

#back-to-top-button {
  display: none;
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  .fore-cast-wrapper {
    height: 43%;
    grid-template-columns: repeat(2, 50%);
    display: grid;
  }

  
}
@media screen and (max-width: 512px) {
  .fore-cast-wrapper {
    
    grid-template-columns: repeat(1, 100%);
    display: grid;
  }

  

  #back-to-top-button {
      display: flex;
           width: 7vw;
           margin: -10vw 2vw 10vw auto;
      background-color: lightblue;
      border-radius: 100%;
      min-width: 0%;
  }
  
}
