body,
html,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #403f3f;
  color: honeydew;
}

.profile-view,
.empty-view,
.settings-view,
.error-view,
.home-view,
.forgot-view,
.reset-view {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
}
#register-dialog-container > div > div {
  height: fit-content;
  width: 30%;
}
#sign-in-dialog-wrapper > div > div {
  height: fit-content;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#dialog-title > h2 {
  font-size: 2vw;
}
#user-friendly-text {
  font-size: 1.2vw;
}
#email-label,
#password-label,
#first-name-label,
#favourite-city-label,
#confirm-password-label {
  font-size: 1.4vw;
}
#email,
#password,
#first-name,
#favourite-city,
#confirm-password {
  height: 2vw;
  font-size: 1.6vw;
}
.link-between-dialogs-wrapper {
  text-align: center;
  place-content: space-evenly;
  display: flex;
}
.link-between-dialogs {
  cursor: pointer;
}
.link-between-dialogs:hover {
  color: #3f51b5;
}
#dialog-button > button {
  width: 8vw;
  font-size: 1vw;
}
#error-message {
  color: red;
}
#sign-in-progress-spinner {
  position: absolute;
  width: 4vw !important;
  height: 4vw !important;
}
@media screen and (max-width: 1400px) and (min-height: 700px) {
  .profile-view,
  .empty-view,
  .settings-view,
  .error-view,
  .home-view,
  .forgot-view,
  .reset-view {
    width: 100%;
    height: 89%;
  }
  #register-dialog-container > div > div {
    height: fit-content;
    width: 70%;
  }
  #sign-in-dialog-wrapper > div > div {
    height: fit-content;
    width: 85%;
  }

  #dialog-title > h2 {
    font-size: 3vw;
  }
  #user-friendly-text {
    font-size: 2vw;
  }
  #email-label,
  #password-label,
  #first-name-label,
  #favourite-city-label,
  #confirm-password-label {
    font-size: 2vw;
  }
  #email,
  #password,
  #first-name,
  #favourite-city,
  #confirm-password {
    height: 3vw;
    font-size: 2vw;
  }
  .link-between-dialogs {
    font-size: 2vw;
  }

  #dialog-button > button {
    width: 15vw;
    font-size: 2vw;
  }
  #error-message {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1024px) {
  #register-dialog-container > div > div {
    height: fit-content;
    width: 70%;
  }
  #sign-in-dialog-wrapper > div > div {
    height: fit-content;
    width: 80%;
  }
  #dialog-title {
    text-align: center;
  }
  #dialog-title > h2 {
    font-size: 5vw;
  }
  #user-friendly-text {
    font-size: 3vw;
  }
  #email-label,
  #password-label,
  #first-name-label,
  #favourite-city-label,
  #confirm-password-label {
    font-size: 3vw;
  }
  #email,
  #password,
  #first-name,
  #favourite-city,
  #confirm-password {
    height: 4vw;
    font-size: 3vw;
  }
  .link-between-dialogs {
    font-size: 3vw;
  }

  #dialog-button > button {
    width: 15vw;
    font-size: 2vw;
  }
  #error-message {
    font-size: 3vw;
  }
  #sign-in-progress-spinner {
    position: absolute;
    width: 8vw !important;
    height: 8vw !important;
  }
}
@media screen and (max-width: 750px) {
  #register-dialog-container > div > div {
    height: fit-content;
    width: 50%;
  }
  #sign-in-dialog-wrapper > div > div {
    height: fit-content;
    width: 50%;
  }

  #dialog-title > h2 {
    font-size: 3vw;
  }
  #user-friendly-text {
    font-size: 2vw;
  }
  #email-label,
  #password-label,
  #first-name-label,
  #favourite-city-label,
  #confirm-password-label {
    font-size: 2vw;
  }
  #email,
  #password,
  #first-name,
  #favourite-city,
  #confirm-password {
    height: 4vw;
    font-size: 2vw;
  }
  .link-between-dialogs > span {
    font-size: 2vw;
  }

  #dialog-button > button {
    width: 15vw;
    font-size: 2vw;
  }
  #error-message {
    font-size: 2vw;
  }
}
@media screen and (max-width: 512px) and (min-height: 568px) {
  .home-view {
    height: auto;
  }
  .profile-view,
  .empty-view,
  .settings-view,
  .error-view,
  .forgot-view,
  .reset-view {
    height: 90%;
  }
  #register-dialog-container > div > div {
    height: fit-content;
    width: 80%;
  }
  #sign-in-dialog-wrapper > div > div {
    height: fit-content;
    width: 90%;
  }
  #dialog-title {
    text-align: center;
  }
  #dialog-title > h2 {
    font-size: 9vw;
  }
  #user-friendly-text {
    font-size: 6vw;
  }
  #email-label,
  #password-label,
  #first-name-label,
  #favourite-city-label,
  #confirm-password-label {
    font-size: 5vw;
  }
  #email,
  #password,
  #first-name,
  #favourite-city,
  #confirm-password {
    height: 4vw;
    font-size: 5vw;
  }
  .link-between-dialogs > span {
    font-size: 5vw;
  }

  #dialog-button > button {
    width: 33vw;
    font-size: 5vw;
  }
  #error-message {
    font-size: 6vw;
  }
}
