body,
html,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
  color:honeydew
}

.profile-view,
.empty-view,
.settings-view, #error {
  width: 100%;
  height: 92%;
}
#register-dialog-container > div > div {
  height: 45%;
  width: 30%;
}
#sign-in-dialog-container > div > div {
  height: 30%;
  width: 30%;
}
.link-between-dialogs {
  text-align: center;
  cursor: pointer;
}
.link-between-dialogs:hover {
  color: #3f51b5;
}
#errorMessage {
  color:red
}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
#register-dialog-container > div > div {
    height: 75%;
    width: 70%;
  }
  #sign-in-dialog-container > div > div {
    height: 50%;
    width: 85%;
  }
  
  #form-dialog-title > h2 {
    font-size: 3vw;
  }
  #user-friendly-text  {
    font-size: 2vw
  }
  #email-label, #password-label, #first-name-label,
  #favourite-city-label, #confirm-password-label {
    font-size: 2vw;
  }
  #email, #password, #first-name, #favourite-city, #confirm-password  {
    height: 3vw;
    font-size: 2vw;
  }
  .link-between-dialogs > span {
    font-size: 2vw;
  }

  #dialog-buttons > button {
    width: 15vw;
    font-size: 2vw;
  }
  #errorMessage {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  
  #register-dialog-container > div > div {
    height: 60%;
    width: 70%;
  }
  #sign-in-dialog-container > div > div {
    height: 40%;
    width: 80%;
  }
  #form-dialog-title {
    text-align: center;
  }
  #form-dialog-title > h2 {
    font-size: 5vw;
  }
  #user-friendly-text  {
    font-size: 3vw
  }
  #email-label, #password-label, #first-name-label,
  #favourite-city-label, #confirm-password-label {
    font-size: 3vw;
  }
  #email, #password, #first-name, #favourite-city, #confirm-password  {
    height: 4vw;
    font-size: 3vw;
  }
  .link-between-dialogs > span {
    font-size: 3vw;
  }

  #dialog-buttons > button {
    width: 15vw;
    font-size: 2vw;
  }
  #errorMessage {
    font-size: 3vw;
  }
}
@media screen and (max-width: 750px)  {
  #register-dialog-container > div > div {
    height: 90%;
    width: 50%;
  }
  #sign-in-dialog-container > div > div {
    height: 85%;
    width: 50%;
  }
  
  #form-dialog-title > h2 {
    font-size: 3vw;
  }
  #user-friendly-text  {
    font-size: 2vw
  }
  #email-label, #password-label, #first-name-label,
  #favourite-city-label, #confirm-password-label {
    font-size: 2vw;
  }
  #email, #password, #first-name, #favourite-city, #confirm-password  {
    height: 4vw;
    font-size: 2vw;
  }
  .link-between-dialogs > span {
    font-size: 2vw;
  }

  #dialog-buttons > button {
    width: 15vw;
    font-size: 2vw;
  }
  #errorMessage {
    font-size: 2vw;
  }
}
@media screen and (max-width: 512px) and (min-height: 568px ) {
  .home-view {

    height: -webkit-fill-available; 
    
  }
  .profile-view,
.empty-view,
.settings-view {
  height: 90%
}
#register-dialog-container > div > div {
  height: 90%;
  width: 80%;
}
#sign-in-dialog-container > div > div {
  height: 70%;
  width: 90%;
}
#form-dialog-title {
  text-align: center;
}
  #form-dialog-title > h2 {
    font-size: 9vw;
  }
  #user-friendly-text  {
    font-size: 6vw
  }
  #email-label, #password-label, #first-name-label,
  #favourite-city-label, #confirm-password-label {
    font-size: 5vw;
  }
  #email, #password, #first-name, #favourite-city, #confirm-password  {
    height: 4vw;
    font-size: 5vw;
  }
  .link-between-dialogs > span {
    font-size: 5vw;
  }

  #dialog-buttons > button {
    width: 22vw;
    font-size: 4vw;
  }
  #errorMessage {
    font-size: 6vw;
  }
}
