.day-details {
  height: 100%;
  display: grid;
  min-width: 100%;
}
.details-weather-icon {
  width: 3vw;
}

.weather-at-differents-time-grid {
  margin: auto;
  width: 100%;
  font-size: 1.4vw;
  white-space: nowrap;
  height: 90%;
}

.different-times {
  display: flex;
}

.different-times > div {
  align-self: center;
  text-align: center;
}
.day-to-display {
  text-align: center;
  font-size: 2vw;
  margin-block: auto;
}
#different-wind {
  font-size: 1.4vw;
}
@media screen and (max-width: 1400px) and  (min-height: 500px)  {
  
  .details-weather-icon {
    width: 4vw;
  }
  
  .weather-at-differents-time-grid {
    margin: auto;
    width: 100%;

    font-size: 1.6vw;
    white-space: nowrap;
  }
  
  
  .day-to-display {
   margin: auto;
    font-size: 3vw;
  }
  #different-wind {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 1024px) and  (min-height: 1024px)  {
  .day-details {
    margin: 5%;
  }
  .details-weather-icon {
    width: 4vw;
  }
  
  .weather-at-differents-time-grid {
    width: 100%;
    font-size: 2.5vw;
    
  }
  
  
  
  .day-to-display {
    font-size: 4vw;
  }
  #different-wind {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 512px) { 
  
  .details-weather-icon {
    width: 16vw;
  }
  
  .weather-at-differents-time-grid {
    margin: auto;
    width: 100%;
    white-space: nowrap;

    font-size: 4.2vw;
  }
  
  
  .day-to-display {
    margin-bottom: 0%;

    font-size: 7vw;
  }
  #different-wind {
    font-size: 4vw;
  }
}


