.day-details {
  height: 100%;
  display: grid;
}
.details-weather-icon {
  width: 4vw;
}

.weather-at-differents-time-grid {
  margin: auto;
  width: 75%;
  font-size: 1vw;
  white-space: nowrap;
  height: 90%;
}

.different-times {
  display: flex;
}

.different-times > div {
  align-self: center;
}
.day-to-display {
  text-align: center;
  font-size: 2vw;
  margin-block: auto;
}
#speed
#arrow {
  font-size: 1vw;
}
@media screen and (max-width: 1024px) { 
  
  .details-weather-icon {
    width: 7vw;
  }
  
  .weather-at-differents-time-grid {
    margin: auto;
    width: 100%;

    font-size: 2.2vw;
    white-space: nowrap;
  }
  
  
  .day-to-display {
   
    font-size: 3vw;
    margin-bottom: 0%;
  }
  #speed
  #arrow {
    font-size: 1vw;
  }
}

