.navbar-wrapper {
  display: flex;
  background-color: rgb(143, 138, 138);
  height: 8%;
  color: black;
}
.navbar-logo-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  width: 25%;
  cursor: pointer;
}
.navbar-logo-name {
  
  font-size: 3vw;
}
.navbar-logo-icon {
  width: 5vw;
}
.navbar-menu {
  width: 75%;
}
@media screen and (max-width: 1400px) and (min-height: 700px) {
  .navbar-wrapper {
    height: 11%;
  }
  .navbar-logo-wrapper {
    width: 40%;
  }
  .navbar-logo-name {
    cursor: pointer;
    font-size: 5vw;
  }
  .navbar-logo-icon {
    width: 7vw;
  }
  .navbar-menu {
    width: 60%;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1020px) {
  .navbar-wrapper {
    height: 8%;
  }
  .navbar-logo-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    width: 70%;
  }
  .navbar-logo-name {
    cursor: pointer;
    font-size: 6vw;
  }
  .navbar-logo-icon {
    width: 11vw;
  }
  .navbar-menu {
    width: 30%;
  }
}

@media screen and (max-width: 512px) {
  .navbar-wrapper {
    height: 10%;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
  }
  .navbar-logo-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    width: 65%;
  }
  .navbar-logo-name {
    cursor: pointer;

    font-size: 9vw;
    margin-left: -2%;
  }
  .navbar-logo-icon {
    width: 15vw;
  }
  .navbar-menu {
    width: 35%;
  }
}
