.navigation-bar-wrapper {
  display: flex;
  background-color: lightblue;
  height: 8%;
}
.nav-links {
  width: 20%;
}

.app-name {
  margin-left: 5%;
  cursor: pointer;
  width: 75%;
  font-size: 2vw;
}
